WordBanks/
.idea/

# virtalenv
.venv/
venv/
ENV/

.env

# folder to save pdf for model
wordsearch_solver/src/data/raw_pdfs/
wordsearch_solver/src/data/cropped_cells/
wordsearch_solver/src/data/rendered_images/
wordsearch_solver/src/data/pdf_metadata/